<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with FoodHut landing page.">
    <meta name="author" content="Devcrud">
    <title>FoodHut | EZ Money</title>

    <%- include('./components/linkcss');-%>
</head>

<body id="home">

    <%- include('./components/header'); -%>
        <!-- header -->
        <header id="home" class="header">
            <div class="overlay text-white text-center">
                <h1 class="display-2 font-weight-bold my-3">Food Hut</h1>
                <h2 class="display-4 mb-5">Always fresh &amp; Delightful</h2>
                <a class="btn btn-lg btn-primary" href="#gallary">View Our gallary</a>
            </div>
        </header>
        <!--  About Section  -->
        <div id="about" class="container-fluid wow fadeIn" id="about" data-wow-duration="1.5s">
            <div class="row">
                <div class="col-lg-6 has-img-bg"></div>
                <div class="col-lg-6">
                    <div class="row justify-content-center">
                        <div class="col-sm-8 py-5 my-5">
                            <h2 class="mb-4">About Us</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, quisquam
                                accusantium nostrum modi, nemo, officia veritatis ipsum facere maxime assumenda
                                voluptatum enim! Labore maiores placeat impedit, vero sed est voluptas!Lorem ipsum dolor
                                sit amet, consectetur adipisicing elit. Expedita alias dicta autem, maiores doloremque
                                quo perferendis, ut obcaecati harum, <br><br>Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Eum necessitatibus iste,
                                nulla recusandae porro minus nemo eaque cum repudiandae quidem voluptate magnam
                                voluptatum? <br>Nobis, saepe sapiente omnis qui eligendi pariatur. quis voluptas.
                                Assumenda facere adipisci quaerat. Illum doloremque quae omnis vitae.</p>
                            <p><b>Lonsectetur adipisicing elit. Blanditiis aspernatur, ratione dolore vero asperiores
                                    explicabo.</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ab itaque modi,
                                reprehenderit fugit soluta, molestias optio repellat incidunt iure sed deserunt nemo
                                magnam rem explicabo vitae. Cum, nostrum, quidem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  gallary Section  -->
        <div id="gallary" class="text-center bg-dark text-light has-height-md middle-items wow fadeIn">
            <h2 class="section-title">OUR MENU</h2>
        </div>
        <center class="container my-3">
            <div class="search-bar">
                <div class="d-flex">
                    <input class="form-control" type="search" placeholder="Type to search" name="query" id="search"
                        aria-label="Search">
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row justify-content-center gy-3">
                    <button class="type_btn col-6 col-sm-4 col-md-2 mx-2 btn btn-primary">Cake</button>
                    <button class="type_btn col-6 col-sm-4 col-md-2 mx-2 btn btn-primary">Drink</button>
                    <button class="type_btn col-6 col-sm-4 col-md-2 mx-2 btn btn-primary">Main meal</button>
                    <button class="type_btn col-6 col-sm-4 col-md-2 mx-2 btn btn-primary">Others</button>
                    <button class="type_btn col-6 col-sm-4 col-md-2 mx-2 btn btn-primary">All Type</button>
                </div>
            </div>
        </center>
        <div class="gallary row">
            <% foods.forEach((food)=> { %>
                <div id="<%=food.IDFood%>" class="food <%=food.Type%> col-sm-6 col-lg-3 gallary-item wow fadeIn">
                    <img src="../assets/imgs?filename=<%=food.img_src%>"
                        alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
                    <a href="/detail/<%=food.IDFood%>" class="gallary-overlay">
                        <div class="container">
                            <h2>
                                <%=food.Food%>
                            </h2>
                            <br>
                            <h3 class="row">
                                <span class="col-lg-6">Price:</span>
                                <span class="col-lg-6">$<%=food.Price%></span>
                            </h3>
                        </div>
                    </a>
                </div>
                <% }); %>
                    <br><br>

                    <%- include('./components/footer');-%>
                        <%- include('./components/script');-%>
                            <script src="../assets/js/search.js"></script>

</body>

</html>